# Backend API (NestJS on Render)
BACKEND_URL="https://spine-summer-camp.onrender.com"

# NextAuth
NEXTAUTH_SECRET="super-secret-key-for-dev"
NEXTAUTH_URL="https://spine-summer-camp.vercel.app"

# Resend (Email)
RESEND_API_KEY="re_..."
