# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="super-secret-key-for-dev"
NEXTAUTH_URL="http://localhost:3000"

# External Services
RESEND_API_KEY="re_..."
UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_APP_ID="..."
